@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all .3s linear;
  outline: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #FFF;
}

button:hover {
  background-color: #eee;
  color: #454545;
}

.subOptions {
  width: 350px;
  margin: 0 auto;
}

.subOptions i {
  padding: .8rem 1rem;
}